@{
    ViewData["Title"] = "RssNews";
}
<style>
    img {
        width: 100%;
    }
</style>

<h1>Свежие новости.</h1>

@if (Model.Feeders.Count == 0)
{
    <h4>Нечего тут глядеть.</h4>
}
else
{
    <p>Форматирование статей</p>
    @if (!Model.IsFormated)
    {
        <button>
            <a href="?isFormated=true">Включить</a>
        </button>
    }
    else
    {
        <button>
            <a href="?isFormated=false">Выключить</a>
        </button>
    }

    <table>
        <thead>
            <tr>
                <td><h3>Статья</h3></td>
                <td><h3>Описание</h3></td>
                <td><h3>Дата публикации</h3></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Feeders)
            {
                <tr>
                    <td>
                        <a href="@item.Link">
                            <h4>@item.Title</h4>
                        </a>
                    </td>
                        <td>
                            @(new HtmlString(@item.Description))
                        </td>
                    <td>@item.PublicationDate</td>
                </tr>
            }
        </tbody>
    </table>
}
